html {
  font-family: "Open Sans";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #333;
  background: #f5f5f5;
}
.row{
  clear: both;
  overflow: hidden;
}
h1{
  color: #333;
}
h2{
  color: #999;
  padding: 5px;
  line-height: 1.5em;
  margin: 0;
}
p{
  text-align: center;
}
#table table{
  width: 90%;
  margin: auto;
}
#counter_table{
  float: left;
}
#counter_table table{
  width: 500px;
  margin-right: 50px;
  margin-top: 40px;
  margin-left: 20px;
}
thead tr{
  color: #999;
}
tbody tr{
  height: 40px;

}
tbody td{
  border-bottom: 1px solid #f5f5f5;
}
td .legend{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}
th.value{
  width: 30px;
}
th{
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}
.main{
  width: 900px;
  margin: auto;
}
.y.axis .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}
.y.axis path.domain{
  stroke: none;
}
rect:hover {
  fill: orange !important;
}

